/** Combinador de descendientes */

ul .lista {
  background-color: rgb(255, 201, 201);
}

.todo .lista {
  list-style: armenian;
  text-decoration: underline;
}

.dias .lista {
  list-style: none;
}

/** Combinador de hijos directos */

.listas > .lista {
  color: blue;
  list-style: upper-alpha;
}

.dias > .lista {
  text-decoration: underline;
  font-size: 25px;
}

/** Combinador de hermano adyacente*/

.subtitlo + .parrafo {
  background-color: yellow;
  opacity: 0;
  transition: 1s;
}

.parrafo {
  background-color: rebeccapurple;
}

/* hover es una pseudoclase, es un comportamiento en el navegador */
.subtitlo:hover + .parrafo {
  display: block;
  opacity: 1;
}

/** Combinador de hermanos generales*/

.subtitlo ~ .parrafo {
  font-size: 20px;
}


